@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,600&display=swap");

@layer utilities {
  /* Act as a border */
  .card-wrapper {
    @apply relative bg-gradient-to-t from-slate-700 to-slate-800 rounded-2xl overflow-hidden;
  }

  /* Gradient */
  .card-wrapper::before {
    background: conic-gradient(
      rgba(244, 114, 182, 0.8) 0deg,
      rgba(192, 132, 252, 0.8) 0deg,
      transparent 90deg
    );

    @apply h-[150%] w-[150%] content-[''] absolute left-[-25%] top-[-25%] animate-border-spin;
  }

  .card-content {
    @apply w-[calc(100%-2px)] h-[calc(100%-2px)] bg-gradient-to-t from-slate-800 to-slate-900 rounded-2xl top-[1px] left-[1px] relative;
  }
}

@layer {
  ::selection {
    background-color: whitesmoke;
    color: black;
  }

  .opacity-animate {
    animation: opacity 3s;
    animation-fill-mode: forwards;
    -webkit-animation: opacity 3s;
  }
  @keyframes opacity {
    0% {
      opacity: 0;
      transform: translateY(5rem);
      -webkit-transform: translateY(5rem);
      -moz-transform: translateY(5rem);
      -ms-transform: translateY(5rem);
      -o-transform: translateY(5rem);
    }
    100% {
      transform: translateY(0rem);
      -webkit-transform: translateY(0rem);
      -moz-transform: translateY(0rem);
      -ms-transform: translateY(0rem);
      -o-transform: translateY(0rem);
      opacity: 100%;
    }
  }

  /* Loader styling */
  @keyframes square-animation {
    0% {
      left: 0;
      top: 0;
    }

    10.5% {
      left: 0;
      top: 0;
    }

    12.5% {
      left: 32px;
      top: 0;
    }

    23% {
      left: 32px;
      top: 0;
    }

    25% {
      left: 64px;
      top: 0;
    }

    35.5% {
      left: 64px;
      top: 0;
    }

    37.5% {
      left: 64px;
      top: 32px;
    }

    48% {
      left: 64px;
      top: 32px;
    }

    50% {
      left: 32px;
      top: 32px;
    }

    60.5% {
      left: 32px;
      top: 32px;
    }

    62.5% {
      left: 32px;
      top: 64px;
    }

    73% {
      left: 32px;
      top: 64px;
    }

    75% {
      left: 0;
      top: 64px;
    }

    85.5% {
      left: 0;
      top: 64px;
    }

    87.5% {
      left: 0;
      top: 32px;
    }

    98% {
      left: 0;
      top: 32px;
    }

    100% {
      left: 0;
      top: 0;
    }
  }

  .loader {
    position: relative;
    width: 96px;
    height: 96px;
    transform: rotate(45deg);
  }

  .loader-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    margin: 2px;
    border-radius: 0px;
    background: white;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: square-animation 10s ease-in-out infinite both;
  }

  .loader-square:nth-of-type(0) {
    animation-delay: 0s;
  }

  .loader-square:nth-of-type(1) {
    animation-delay: -1.4285714286s;
  }

  .loader-square:nth-of-type(2) {
    animation-delay: -2.8571428571s;
  }

  .loader-square:nth-of-type(3) {
    animation-delay: -4.2857142857s;
  }

  .loader-square:nth-of-type(4) {
    animation-delay: -5.7142857143s;
  }

  .loader-square:nth-of-type(5) {
    animation-delay: -7.1428571429s;
  }

  .loader-square:nth-of-type(6) {
    animation-delay: -8.5714285714s;
  }

  .loader-square:nth-of-type(7) {
    animation-delay: -10s;
  }
}
