@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,600&display=swap");

@layer {
  ::selection {
    background-color: var(--yell);
    color: #180ef1;
  }
  :root {
    --primary: hsl(246, 70%, 26%);
    --primary-light: rgb(202, 200, 245);
    --yell: hsl(63, 92%, 26%);
    --yell-pr: hsl(63, 99%, 45%);
  }

  .primary {
    color: var(--primary);
  }
  .primary-light {
    color: var(--primary-light);
  }
  .primary-bg {
    background-color: var(--primary);
  }

  .accent {
    color: var(--yell);
  }
  .yell-bg {
    background-color: var(--yell);
  }
  .bg-gradient {
    background: rgb(2, 0, 36);
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 0%,
      rgba(63, 63, 242, 1) 53%,
      rgba(149, 179, 233, 1) 80%
    );
    background-repeat: no-repeat;
    background-size: cover;
    /* color: hsl(hue, saturation, lightness); */
  }

  .opacity-animate {
    animation: opacity 3s;
    animation-fill-mode: forwards;
    -webkit-animation: opacity 3s;
  }
  @keyframes opacity {
    0% {
      opacity: 0;
      transform: translateY(5rem);
      -webkit-transform: translateY(5rem);
      -moz-transform: translateY(5rem);
      -ms-transform: translateY(5rem);
      -o-transform: translateY(5rem);
    }
    100% {
      transform: translateY(0rem);
      -webkit-transform: translateY(0rem);
      -moz-transform: translateY(0rem);
      -ms-transform: translateY(0rem);
      -o-transform: translateY(0rem);
      opacity: 100%;
    }
  }
}
